.container{
    max-width: 100wh;
    width:100%;
    background: rgba(181, 218, 233, 0.938);
    border: 1px solid rgba(42, 184, 240, 0.726);
    padding: 20px 10px 20px 10px;
    color:rgb(12, 75, 134);
}
i{
    margin-right: 20%;
    cursor: pointer;
}
.listtwo{
    max-width: 500px;
    width:100%;
    text-align: left;
    display: flex;
}

