.center{
    max-width: 100wh;
    width: 100%;
    text-align: center;
    background: rgba(227, 242, 243, 0.884);
    padding:20px auto 20px auto;
    font-family: 'Cabin', sans-serif;

}
h1{
    color:rgb(28, 112, 196);
    font-size: 50px;
    margin-block-start: 0em;


}
input{
    max-width: 500px;
    width: 100%;
    height: 40px;
    background: rgba(245, 247, 248, 0.692);
    border: 1px solid rgb(28, 112, 196);
    padding: 10px 5px 10px 5px;
    color:rgb(28, 112, 196);
    margin-bottom: 40px;
}
button{
    max-width: 300px;
    width: 100%;
    height: 60px;
    background: rgba(245, 247, 248, 0.692);
    border: 1px solid rgb(28, 112, 196);
    color:rgb(28, 112, 196);
    margin-left: 30px;
    font-weight: bold;
}
button:hover{
    background: rgb(28, 112, 196);
    border: 1px solid rgb(28, 112, 196);
    color:rgba(227, 242, 243, 0.884);

}
.list{

}