<div class="center">
  <h1>Add your task!</h1>
  <div class="form">
    <input [(ngModel)]="inputValue" type="text">
    <button (click)="addTodo()">Add To Do</button>
  </div>
  <div class="list">
    <ng-container *ngFor="let Todo of todos">
      <app-todo [todo]="Todo" (onDeletetoDo)="deleteTodo($event)"></app-todo>
    </ng-container>
  </div>
</div>

